src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <sfdc:config name="Salesforce" username="cesar.garcia@mulesoft.com.sfdc2sfdc" password="MKSFDCSBCesar8" securityToken="a3QAH5ybOL3z4El7yd5D8uIF" url="https://test.salesforce.com/services/Soap/u/28.0" doc:name="Salesforce">
        <sfdc:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </sfdc:config>
    <data-mapper:config name="xml_to_list_product2_" transformationGraphPath="xml_to_list_product2_.grf" doc:name="xml_to_list_product2_"/>
    
    <batch:job name="businessLogicBatch1">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
        	<sap:inbound-endpoint type="idoc" rfcType="qrfc" xmlVersion="1" responseTimeout="10000" doc:name="SAP" jcoConnectionCount="${sap.jco.connectioncount}" jcoGwHost="${sap.jco.gwhost}" jcoGwService="${sap.jco.gwservice}" jcoProgramId="${sap.jco.idoc.programid}" outputXml="true">
            	<sap:default-in-memory-tid-store/>
        	</sap:inbound-endpoint>
<!--         	<sap:object-to-xml doc:name="SAP Object to XML"/> -->
            <data-mapper:transform config-ref="xml_to_list_product2_" doc:name="XML To List&lt;Product2&gt;"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="foreachMaterialInAUpsertProductInBStep">
                <batch:commit size="200" doc:name="Batch Commit">
<!--                     <logger message="#[payload]" level="INFO" doc:name="Logger"/> -->
	 				<sfdc:upsert config-ref="Salesforce"  doc:name="Salesforce" type="Product2" externalIdFieldName="sap_external_id__c">
                        <sfdc:objects ref="#[payload]"/>
	        		</sfdc:upsert>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON" />
			<logger level="INFO" doc:name="log 'Migration process has finished'" message="Migration process has finished: #[payload]" />
        </batch:on-complete>
    </batch:job>
    
    
<!--     <flow name="mainFlow" doc:name="mainFlow" doc:description="This flow is the entry point to the Kick business logic. -->

<!-- This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it. -->

<!-- "> -->
<!--         <sap:inbound-endpoint type="idoc" rfcType="qrfc" xmlVersion="1" responseTimeout="10000" doc:name="SAP" jcoConnectionCount="${sap.jco.connectioncount}" jcoGwHost="${sap.jco.gwhost}" jcoGwService="${sap.jco.gwservice}" jcoProgramId="${sap.jco.idoc.programid}" exchange-pattern="request-response"> -->
<!--             <sap:default-in-memory-tid-store/> -->
<!--         </sap:inbound-endpoint> -->
<!--         <sap:object-to-xml doc:name="SAP Object to XML"/> -->
<!--         <data-mapper:transform config-ref="xml_to_list_kimbleone__product__c_" doc:name="XML To List&lt;KimbleOne__Product__c&gt;"/> -->
<!--         <sfdc:create config-ref="Salesforce"  doc:name="Salesforce" type="KimbleOne__Product__c"> -->
<!--             <sfdc:objects ref="#[payload]"/> -->
<!--         </sfdc:create> -->
<!--         <logger message="Running main flow... #[payload]" level="INFO" doc:name="Logger"/> -->
<!--         <set-payload value="#['Main flow run successfully']" doc:name="Set Payload"/> -->
<!--         <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/> -->
<!--     </flow> -->


</mule>
